Repository ml-cyclops/experiment-results-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pytest, mypy, ruff

black:
  name: black
  entry: poetry run black
  language: system

pytest:
  name: pytest
  entry: poetry run pytest
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy --strict experiment_results_manager
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: poetry run ruff check
  language: system

github action
  .github/workflows/python-package.yml
Due: none

Update python-package.yml
  .github/workflows/python-package.yml
Due: none

first working state
  .gitignore
  .pre-commit-config.yaml
  examples/.ipynb_checkpoints/compare_local_runs-checkpoint.ipynb
  examples/compare_local_runs.ipynb
  experiment_results_manager/artifact.py
  experiment_results_manager/compare_runs.py
  experiment_results_manager/experiment_run.py
  experiment_results_manager/main.py
  experiment_results_manager/render_html.py
  poetry.lock
  pyproject.toml
Due: black, mypy, ruff

remove ipynb checkpoints
  .gitignore
  examples/.ipynb_checkpoints/compare_local_runs-checkpoint.ipynb
Due: none

add fsspec
  .gitignore
  examples/compare_local_runs.ipynb
  examples/serialize_and_deserialize.ipynb
  experiment_results_manager/__init__.py
  experiment_results_manager/artifact.py
  experiment_results_manager/compare_runs.py
  experiment_results_manager/experiment_run.py
  experiment_results_manager/html_util.py
  experiment_results_manager/serde.py
  poetry.lock
  pyproject.toml
Due: black, mypy, ruff

restart history
  .gitignore
  .pre-commit-config.yaml
  .python-version
  Makefile
  README.md
  docs/api_reference.md
  examples/compare_runs.ipynb
  examples/serialize_and_deserialize.ipynb
  experiment_results_manager/__init__.py
  experiment_results_manager/artifact.py
  experiment_results_manager/compare_runs.py
  experiment_results_manager/experiment_run.py
  experiment_results_manager/html_util.py
  experiment_results_manager/serde.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/test_experiment_run.py
Due: black, pytest, mypy, ruff

pypi
  README.md
  examples/compare_runs.ipynb
  examples/serialize_and_deserialize.ipynb
  poetry.lock
  pyproject.toml
Due: none

.
  examples/iris.ipynb
  experiment_results_manager/compare_runs.py
  experiment_results_manager/experiment_run.py
  experiment_results_manager/html_util.py
Due: black, mypy, ruff

.
  examples/iris.ipynb
  pyproject.toml
Due: none

Iris example (#6)
  examples/iris.ipynb
  experiment_results_manager/compare_runs.py
  experiment_results_manager/experiment_run.py
  experiment_results_manager/html_util.py
  pyproject.toml
Due: black, mypy, ruff

but with outputs this time
  examples/iris.ipynb
Due: none

.
  README.md
  examples/compare_runs.ipynb
  examples/iris.ipynb
  examples/serialize_and_deserialize.ipynb
Due: none

.
  README.md
Due: none

Update README.md
  README.md
Due: none

Update readme (#7)
  README.md
  examples/compare_runs.ipynb
  examples/iris.ipynb
  examples/serialize_and_deserialize.ipynb
Due: none

Create LICENSE
  LICENSE
Due: none

.
  Makefile
  docs/README.md
  docs/api_reference.md
  docs/stylesheets/extra.css
  examples/browse_registry.ipynb
  examples/compare_runs.ipynb
  examples/serialize_and_deserialize.ipynb
  experiment_results_manager/__init__.py
  experiment_results_manager/compare_runs.py
  experiment_results_manager/experiment_run.py
  experiment_results_manager/fsspec_util.py
  experiment_results_manager/html_util.py
  experiment_results_manager/registry.py
  experiment_results_manager/serde.py
  mkdocs.yml
  pyproject.toml
Due: black, mypy, ruff

. (#10)
  Makefile
  docs/README.md
  docs/api_reference.md
  docs/stylesheets/extra.css
  examples/browse_registry.ipynb
  examples/compare_runs.ipynb
  examples/serialize_and_deserialize.ipynb
  experiment_results_manager/__init__.py
  experiment_results_manager/compare_runs.py
  experiment_results_manager/experiment_run.py
  experiment_results_manager/fsspec_util.py
  experiment_results_manager/html_util.py
  experiment_results_manager/registry.py
  experiment_results_manager/serde.py
  mkdocs.yml
  pyproject.toml
Due: black, mypy, ruff

link to repo from docs
  mkdocs.yml
Due: none

Deployed b245d0a with MkDocs version: 1.4.2
  404.html
  api_reference/index.html
  index.html
  sitemap.xml.gz
Due: none

update docs
  README.md
  examples/compare_runs.ipynb
Due: none

Path conditions:
  black: any of: \.py$
  pytest: any of: ^tests\/.*test_.*\.py$ and \.py$
  mypy: any of: \.py$
  ruff: any of: \.py$
